<!DOCTYPE HTML>
<html>
    <head>
        <title>Face Mask Detection Page</title>
        <link rel="stylesheet" href = "static\styles\index.css" />
    </head>
    
    <body> 
        <div class="heading">
            <h1 class="heading">Welcome To Face Mask Detection API</h1>
            <p class="paragraph1">You can consume our service here to detect peoples with and without masks in images,
                videos and also in real time camera videos
            </p>
        </div>

            <div class="links">
                <p class="paragraph2"> choose one of the following</p>
                <a href={{url_for('image')}}>
                    <button class="images" type="button">Detection with images</button>
                </a>

                <a href={{url_for('video')}}>
                    <button class="videos" type="button">Detection with videos</button>
                </a>

                <a href={{url_for('open_camera')}}>
                    <button class="camera" type="button">Detection with camera</button>
                </a>

            </div>
    </body>

</html>    